[Unit]
Description=FastAPI Speech Recognition Service
After=network.target

[Service]
User=youruser  # 你的 Linux 用户
Group=youruser
WorkingDirectory=/data/apps/audio-rec
ExecStart=/your_project/venv/bin/gunicorn -c gunicorn_conf.py app:app
Restart=always

[Install]
WantedBy=multi-user.target