[Unit]
Description=FastAPI Speech Recognition Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/data/apps/audio-rec
ExecStart=/usr/local/anaconda3/envs/audio/bin/gunicorn -c gunicorn_conf.py main:app
Restart=always

[Install]
WantedBy=multi-user.target